#formularioContatos {
    min-height: 500px;
    height: auto;
    width: inherit;
    background-color: lawngreen;

    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
}

#caixaDadosUsuario, #caixaSugestoes {
    min-height: 160px;
    height: auto;
    width: 49%;
    /* background-color: red; */
    float: left;
}

.caixaEntradaDados {
    min-height: 70px;
    height: auto;
    width: 310px;

    text-align: left;
    line-height: 1.5;
    margin-bottom: 50px;
}

.caixaEntradaDados input[type=text], 
.caixaEntradaDados input[type=tel],
.caixaEntradaDados input[type=email]
.caixaEntradaDados input[type=url] {
    width: 300px;
    border-radius: 5px;
    margin-top: 5px;
}

.caixaEntradaDados input[type=radio] {
    height: 19px;
    width: 19px;

    margin-left: 10px;
    cursor: pointer;
}

.caractereRestante {
    float: right;
}

textarea {
    height: 160px;
    width: 400px;
    
    resize: none;
    margin-top: 10px;
}