:root {
    --cor-Primaria: #ffffff;
    --cor-PrimariaLight: #;
    --cor-PrimariaDark: #FB9B2B;
    --cor-textoPrimaria: #ffffff;

    --cor-Secundaria: #dfc333;
    --cor-SecundariaLight: #fff567;
    --cor-SecundariaDark: #a99300;
    --cor-textoSecundaria: #000000;
}

@media screen and (min-device-width:1300px) {
    

    /* ============= HOME ============= */
    /* HOME - Carroussel */
    #caixaCarrousel {
        height: 300px;
        width: 1200px;
    }

    #carroussel{
        height: 300px;
        width: 1170px;
        /* background-color: red; */
        float: left;
        overflow: hidden;
        box-sizing: border-box;
    }

    .itensCarroussel {
        height: 280px;
        width: 1180px; 
        background-color: grey;
        margin: 10px;
        margin-right: 60px;
        float: left;
    }

    .imgCarroussel, .imgCarroussel img {
        width: inherit;
        height: inherit;
    }

    /* Botoes */
    .nav {
        height: 50px;
        width: 50px;

        position: absolute;
        display: table;
        font-size: 2.5em;
        /* padding-top: 110px; */
        margin-top: 110px;
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
        color: white;
        font-weight: bold;
        
    }

    .nav:hover {
        transition: 0.2s;
        cursor: pointer;
        opacity: 1;
        background-color: rgb(202, 0, 0);
    }

    .next {
        margin-left: 1150px;
    }

    /* HOME - ListaProdutos */
    #produtosConteudo {
        width: 1200px;
        min-height: 500px;
        height: auto;

        background-image: url("../images/fundo-amarelo-1.jpg");
        background-size: cover;
        overflow: hidden;
        user-select: none;

        border: 1px solid #000;
        box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.39);
    }

    #listaSelecaoItens {
        min-height: 500px;
        height: auto;
        width: 220px;

        float: left;
        z-index: 999;

        background-color: rgb(202, 0, 0);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.76);
    }

    #listaSelecaoItens li {
        height: 50px;
        width: inherit;
        background-color: var(--cor-Secundaria);

        display: grid;
        align-items: center;
        border-bottom: 1px solid #000;
    }

    #listaSelecaoItens li:hover {
        border-left: 3px solid #000;
    }

    /* HOME - Produtos PRECO NOME DESCRICAO */
    #caixaProdutos {
        min-height: 500px;
        height: auto;
        width: 975px;
        /* background-color: #fff; */
        float: left;
        padding-top: 100px;
        margin-left: 5px
    }

    .produtos {
        height: 390px;
        width: 280px;
        /* background-color: #ffffffce; */
        background-color: rgb(202, 0, 0);
        /* background-color: rgb(234, 178, 29); */
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 1px 1px 10px rgb(0, 0, 0);
        line-height: 1.5;

        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 8px;
        padding-top: 15px;
    }

    .caixaImgProduto, .caixaImgProduto img {
        height: 130px;
        width: 200px;
        /* background-color: hotpink; */
        margin-bottom: 20px;
        border-radius: 10px;
        /* border: 2px solid #000; */
        box-shadow: 2px 2px 2px black;
    }

    .caixaSobreProduto {
        height: 160px;
        width: inherit;
        /* background-color: indianred; */
        text-align: left;

        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .caixaSobreProduto p {
        height: 60px;
        width: inherit;
        border-bottom: 3px solid #000;
        border-radius: 10px;

        margin-bottom: 5px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        
        box-sizing: border-box;

        user-select: none;
        background-color: rgb(251, 154, 43);
    }

    .btnDetalhes {
        height: 30px;
        width: 85px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        border-bottom: 1px solid #000;

        position: relative;
        left: 195px;
        top: 30px;
        padding-top: 2px;
        box-sizing: border-box;

        cursor: pointer;
    }

    .btnDetalhes:hover {
        font-weight: bold;
        background-color: var(--cor-SecundariaLight);
        border-radius: 10px;
    }

    /* HOME - Rede Sociais */
    #caixaRedeSocial {
        height: 210px;
        width: 70px;
        /* background-color: gray; */
        position: fixed;
        margin-left: 1200px;
        z-index: 999;
    }

    #caixaRedeSocial img {
        height: 60px;
        width: 70px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

@media screen and (max-device-width: 780px) {
       /* ============= HOME ============= */
    /* HOME - Carroussel */
    #caixaCarrousel {
        height: 300px;
        width: 100%;
        background-color: aqua;
        position: relative;
    }

    #carroussel{
        height: 300px;
        width: 1170px;
        background-color: red;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, calc(100% - 2.5%));
    }

    .itensCarroussel {
        height: 280px;
        background-color: grey;
        margin: 10px;
        margin-right: 60px;
        float: left;
    }

    .imgCarroussel, .imgCarroussel img {
        width: 100%;
        height: inherit;
    }

    /* Botoes */
    .nav {
        height: 300px;
        width: 50px;
        position: absolute;
        display: table;
        font-size: 40px;
        padding-top: 110px;
        
        text-align: center;
        box-sizing: border-box;
        color: white;
        font-weight: bold;
    }

    .nav:hover {
        transition: 0.2s;
        cursor: pointer;
        background-color: rgba(130, 130, 130, 0.8);
        opacity: 1;
    }

    .next {
        margin-left: 1150px;
    }

    /* HOME - Produtos */
    #produtosConteudo {
        width: 100%;
        min-height: 500px;
        height: auto;
        background-color: red;
        overflow: hidden;
    }

    #listaSelecaoItens {
        min-height: 500px;
        height: auto;
        width: 220px;
        /* background-color: rgb(5,123,201);  */
        float: left;
        z-index: 999;
    }

    #listaSelecaoItens li {
        height: 50px;
        width: inherit;
        background-color: yellow;

        display: grid;
        align-items: center;
        border: 2px solid black;
    }

    #caixaProdutos {
        min-height: 500px;
        height: auto;
        width: 975px;
        background-color: rgb(55,190,173); 
        float: left;
        padding-top: 60px;
        margin-left: 5px
    }

    .produtos {
        min-height: 270px;
        height: auto;
        width: 250px;
        background-color: rgb(255, 238, 64);
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 8px;
    }

    .caixaImgProduto {
        height: 100px;
        width: 100px;
        margin: 10px auto;
        background-color: hotpink;
    }

    .caixaSobreProduto {
        min-height: 110px;
        height: auto;
        width: inherit;
        background-color: indianred;
        line-height: 2;
        padding-left: 15px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .btnDetalhes {
        height: 30px;
        width: 75px;
        background-color: ivory;
        position: relative;
        left: 165px;
        padding-top: 5px;
        box-sizing: border-box;
        border: 1px solid black;
        cursor: pointer;
    }

    /* HOME - Rede Sociais */
    #caixaRedeSocial {
        height: 210px;
        width: 70px;
        background-color: gray;
        position: fixed;
        margin-left: 1200px;
        z-index: 999;
    }

    #caixaRedeSocial img {
        height: 60px;
        width: 70px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}