:root {
    --cor-Primaria: #65bbea;
    --cor-PrimariaLight: #9bedff;
    --cor-PrimariaDark: #278bb8;
    --cor-textoPrimaria: #ffffff;

    --cor-Secundaria: #dfc333;
    --cor-SecundariaLight: #fff567;
    --cor-SecundariaDark: #a99300;
    --cor-textoSecundaria: #000000;
}

/* ============= PROMOÇÕES ============= */
/* PROMO - Produtos */
#caixaProdutos {
    min-height: 300px;
    height: auto;
    width: 100%;
    background-color: var(--cor-PrimariaDark);
    overflow: hidden;
    padding-left: 95px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.produtos {
    height: 330px;
    width: 300px;
    background-color: var(--cor-Secundaria);

    float: left;
    margin: 60px;
    margin-right: 20px;
    margin-left: 20px;
    


    box-shadow: 3px 3px 2px black;
    border-radius: 10px;
    border: 3px solid #fff;
}

.imagemProduto, .imagemProduto img {
    height: 150px;
    width: 90%;

    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--cor-SecundariaLight);
}

.imagemProduto {
    margin-top: 13px;
    margin-bottom: 15px;
}

.nomeLanche {
    width: 210px;
    height: 30px;
    background-color: var(--cor-SecundariaDark);
    float: left;

    color: var(--cor-textoPrimaria);
    margin-top: 20px;
    border-radius: 0px 5px 5px 0px;
}

/* PROMO - Caixa de preços */
.caixaPrecos {
    height: 30px;
    width: 100%;
    background-color: var(--cor-Secundaria);
    float: left;
    margin-bottom: 35px;
}

.precoVelho, .precoNovo {
    height: inherit;
    width: 50%;
    /* padding-left: 10px; */
    /* background-color: violet; */
    box-sizing: border-box;
    float: left;

    font-weight: bold;
    font-size: 1.0em;
    padding-top: 5px;
    box-sizing: border-box;
}

.precoVelho {
    border-right: 1px solid #000;
}

/* PROMO - Botões */
.caixaBotoes {
    height: 85px;
    width: 85px;
    /* background-color: greenyellow; */
    
    float: left;
    display: flex;
    justify-content: center;
}

.btnBurger, .btnBatata {
    height: 70px;
    width: 70px;
    background-image: url("../images/promocoes/burger.png");
    background-size: cover;
    /* background-color: lawngreen; */
    /* border-radius: 50%; */
}

.btnBatata {
    background-image: url("../images/promocoes/batata.png");
}

.btnBurger:hover {
    cursor: pointer;
    height: 85px;
    width: 85px;
    
}

.caixaAgradecimento {
    height: 100px;
    width: 100%;
    background-color: white;
}

#promocaoBurgers, #promocaoBatatas {
    min-height: 400px;
    height: auto;
    width: 95%;
    overflow: hidden;
}
/* PROMO - CAIXA DE PROMOÇÃO DE HAMBURGER */
#promocaoBurgers {
    background-color: dodgerblue;
}
/* PROMO - CAIXA DE PROMOÇÃO DE BATATA FRITAS */
#promocaoBatatas {
    background-color: goldenrod;
}
/* PROMO - CAIXA DE PROMOÇÃO DE BEBIDAS */

/* PROMO - CAIXA DE PROMOÇÃO DE HAMBURGER DOCE */