/* ============= PROMOÇÕES ============= */
/* PROMO - Produtos */
#caixaProdutos {
    min-height: 300px;
    height: auto;
    width: 100%;
    /* background-color: white; */
    overflow: hidden;
    padding-left: 95px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.produtos {
    height: 330px;
    width: 300px;
    background-color: #e7ae1f;

    float: left;
    margin: 60px;
    margin-right: 20px;
    margin-left: 20px;

    box-shadow: 3px 3px 15px black;
    border-radius: 10px;
    border: 3px solid #fff;
}

.imagemProduto, .imagemProduto img {
    height: 150px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    
}

.imagemProduto {
    margin-top: 13px;
    margin-bottom: 15px;
}

.nomeLanche {
    width: 210px;
    min-height: 30px;
    height: auto;
    background-color: #FB9B2B;

    float: left;
    margin-top: 20px;
    margin-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;

    box-shadow: 2px 2px 4px black;
    border-radius: 0px 5px 5px 0px;
    color: white;
    
}

/* PROMO - Caixa de preços */
.caixaPrecos {
    height: 30px;
    width: 100%;
    background-color: #dfc333;
    float: left;
    margin-bottom: 35px;
}

.precoVelho, .precoNovo {
    height: inherit;
    width: 50%;
    /* padding-left: 10px; */
    /* background-color: violet; */
    box-sizing: border-box;
    float: left;

    font-weight: bold;
    font-size: 1.0em;
    padding-top: 5px;
    box-sizing: border-box;
}

.precoVelho {
    border-right: 1px solid #000;
}

/* PROMO - Botões */
.caixaBotoes {
    height: 85px;
    width: 85px;
    
    float: left;
    display: flex;
    justify-content: center;
}

.btnBurger, .btnBatata {
    height: 70px;
    width: 70px;
    background-image: url("../images/promocoes/burger.png");
    background-size: cover;
    /* background-color: lawngreen; */
    /* border-radius: 50%; */
}

.btnBatata {
    background-image: url("../images/promocoes/batata.png");
}

.btnBurger:hover {
    cursor: pointer;
    height: 85px;
    width: 85px;
    
}


/* PROMO - Caixa de promoções 
que segura um tipo específico de produto */
#promocao {
    min-height: 400px;
    height: auto;
    width: 95%;
    overflow: hidden;

    border-radius: 30px;
    box-shadow: 2px 2px 20px rgb(255, 252, 94);

    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: rgb(202, 0, 0);
}

#promocao h1 {
    color: white;
}